<h1 class="page-header">
  <div class="container-fluid header-container" >
    <div class="row">
      <div class="col-xs-8" style="padding:0">
        Requests
      </div>
      <div id="form" class="col-xs-4 text-right" style="padding:0">
        <%= link_to 'API Token', tokens_path, class: 'btn btn-lg btn-default' %>
      </div>
    </div>
  </div>
</h1>

<table class="table table-responsive requests-datatable" data-ajax="<%= requests_path(format: :json) %>">
  <thead>
    <tr>
      <th>Headers</th>
      <th>Params</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
