<h1 class="page-header">Requests</h1>

<table id="requests-datatable" class="table table-responsive responsive no-wrap" data-ajax="<%= @bin.present? ? bin_requests_path(format: :json) : requests_path(format: :json) %>">
  <thead>
    <tr>
      <th>Headers</th>
      <th>Params</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  </tbody>
</table>
