<p id="notice"><%= notice %></p>

<p>
  <strong>Headers:</strong>
  <%= content_for_hash @request.headers %>
</p>

<p>
  <strong>Params:</strong>
  <%= content_for_hash @request.params %>
</p>

<%= link_to 'Back', requests_path %>
